div {
    width: 35%;
    height: 40%;
    backdrop-filter: blur(20px);
    background: transparent;
    box-shadow: 2px black;
    background-size: cover;
    border: 1px solid gray;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url(img1/mm.jpg);
    overflow: hidden;
}

li a {
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

li a {
    float: left;
}

li a {
    display: block;
    color: rgba(222, 222, 220);
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #555;
    color: white;
}

h2 {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.form {
    width: 90%;
    max-width: 500px;
    margin-right: 10px;
    font-family: "Bebas Neue", sans-serif;
}

select {
    display: block;
    margin: 15px auto;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 29%), 5px 5px 15px rgba(0, 0, 0, 0.6);
    width: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(225, 225, 225, .2);
    height: 50px;
    padding: 15px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 1rem;
    transition: all .5s;
}

.form input {
    display: block;
    margin: 15px auto;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 29%), 5px 5px 15px rgba(0, 0, 0, 0.6);
    width: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(225, 225, 225, .2);
    height: 45px;
    padding: 15px;
    color: wheat;
    border-radius: 10px;
    font-size: 1rem;
    transition: all .5s;
}

input::placeholder {
    color: rgb(0, 0, 0);
}

input[type=number] {
    display: block;
    margin: 15px auto;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 29%), 5px 5px 15px rgba(0, 0, 0, 0.6);
    width: 40%;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(225, 225, 225, .2);
    height: 50px;
    padding: 15px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 1rem;
    transition: all .5s;
}

input[type=Month] {
    display: block;
    margin: 15px auto;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 29%), 5px 5px 15px rgba(0, 0, 0, 0.6);
    width: 33%;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(225, 225, 225, .2);
    height: 50px;
    padding: 15px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 1rem;
    transition: all .5s;
}

input[type=year] {
    display: block;
    margin: 15px auto;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 29%), 5px 5px 15px rgba(0, 0, 0, 0.6);
    background-color: #151515;
    border: 3px solid #151515;
    width: 35%;
    height: 45px;
    padding: 15px;
    color: wheat;
    border-radius: 0.25rem;
    font-size: 1rem;
    transition: all .5s;
}

button {
    display: block;
    margin: 15px auto;
    box-shadow: -5px -5px 10px rgb(255 255 255 / 29%), 5px 5px 15px rgba(0, 0, 0, 0.6);
    width: 20%;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(225, 225, 225, .2);
    height: 45px;
    padding: 15px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 1rem;
    transition: all .5s;
}